<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <style>
       	h1 {
		color: #7157ff;
	        }

	    hr {
		display: block;
		border: 0;
		border-top: 3px solid #f90;
		padding: 0; 
	        }
        </style>
 
    </head>
    <body>
        <h1>New Movie Database</h1>
        <hr>

        {{{ body }}}
        
    </body>
</html>